
        body {
            height: 100%;
            background: linear-gradient(90deg, #FAF0E6 50%, #DAA520 50%);
            }
        h1{
          color: #FF6347;
          font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
          font-size: 150px;
          font-weight:600;
          letter-spacing: 0.15em;
          line-height: 1.4;
          text-align: center;
        }
        .jumbotron,.jumbotron h1{
          background-color: #4682B4;
        }
        h2{
          font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
          color: #FF6347;
          font-size: 65px;
          font-weight: 600;
          letter-spacing: 0.1em;
          padding-top: 20px
          line-height: 1.1;
          margin: 0 0 24px;
          text-align: center;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          }
          h3{
            font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
            color: #FF6347;
            font-size: 65px;
            font-weight: 600;
            letter-spacing: 0.1em;
            padding-top: 20px
            line-height: 1.1;
            margin: 0 0 24px;
            text-align: center;
            writing-mode: vertical-rl;
            text-orientation: mixed;
          }
          h4{
            font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
            color: #FF6347;
            font-size: 65px;
            font-weight: 600;
            letter-spacing: 0.1em;
            padding-top: 20px
            line-height: 1.1;
            margin: 0 0 24px;
            text-align: center;
            writing-mode: vertical-rl;
            text-orientation: mixed;
          }

.responsive {
      display: block;
      margin-left: inherit;
      margin-right: inherit;
      width: 45%;
      max-width: 100%;
      height: auto;
                          }
  img:hover {
          animation:shake 0.5s;
          animation-iteration-count: infinite;
                  }
.responsiveleo {
      display: block;
      margin-left: inherit;
      margin-right: inherit;
      width: 18%;
      max-width: 100%;
      height: auto;
                  }
.form-group {
  display: block;
  font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
  color: #4682B4;
  font-weight: bold;
  width: 500px;
  border: 25px solid #FF6347;
  padding: 35px;
  margin: auto;
  background-color: #8FBC8F
          }

.btn-default {
    font-family: "Twentieth Century™ W01", "Futura", "Helvetica", "Arial", sans-serif;
    color: #4682B4;
    font-weight: bold;
                  }
